.line {
  position: absolute;
  bottom: 0;
  transition: left 0.5s ease-in-out, width 0.5s 0.10s;
  height: 10px;
  background-color: blue;
  left: 0;
  width: 69px;
  pointer-events: none;
}

.flex-rectangle{
  width: 100%;
  background: #ca0164;
}
.flex-rectangle:before{
  content: "";
  display: block;
  padding-top: 25%;
}